# ========================
# Server Configuration
# ========================
PORT=5000
NODE_ENV=development

# ========================
# MongoDB Connection
# ========================
MONGO_URI=

# ========================
# JWT / Auth (if added later)
# ========================
JWT_SECRET=
JWT_EXPIRE=30d

# ========================
# CORS Origin
# ========================
CLIENT_URL=http://localhost:3000
